<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.iscte.pt/paddle/Javali"
			class = "pt.iscte.paddle.javali.JavaliPackage"
			genModel = "model/generated/Javali.genmodel" />
	</extension>
</plugin>
